In [1]:
import pickle
import pandas as pd

In [10]:
with open('mta_data.pickle','rb') as read_file:
    mta_data = pickle.load(read_file)

In [12]:
mta_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,03:00:00,REGULAR,5562172,1877574
1,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,07:00:00,REGULAR,5562184,1877586
2,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,11:00:00,REGULAR,5562267,1877691
3,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,15:00:00,REGULAR,5562516,1877745
4,A002,R051,02-00-00,59 ST,NQR456,BMT,02/27/2016,19:00:00,REGULAR,5562920,1877821

In [11]:
cols = mta_data.columns
cols = [col.strip() for col in cols]
mta_data.columns = cols

In [13]:
with open('mta_data_clean.pickle','wb') as write_file:
    pickle.dump(mta_data, write_file)