In [1]:
from datetime import datetime, timedelta
import pandas as pd
import pickle

In [2]:
def get_data_from_mta(file_url):
    data = pd.read_csv(file_url)
    return data

In [3]:
def get_data_from_date_list(dates):
    df_list = []
    for x in dates:
        string = ('http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + x + '.txt')
        holder_df = get_data_from_mta(string)
        df_list.append(holder_df)
    return pd.concat(df_list)

In [4]:
def next_sat(startdate,enddate) :
   """
   startdate/enddate : 'MM-DD-YYYY'
   returns list of dates as YYMMDD strings between the dates, not including the enddate
   """
    dates = []
    begin = datetime.strptime(startdate,'%m-%d-%Y')
    end = datetime.strptime(enddate,'%m-%d-%Y')
    current = begin
    while current < end :
        dates.append(current.strftime('%y%m%d'))
        current += timedelta(days=7)
    return dates

def march_thru_jun(dates) :
    return [date for date in dates if int(date[3]) in range(3,7)]

In [5]:
dates = march_thru_jun(next_sat('01-06-2018', '01-01-2019'))

In [5]:
mta_turnstile_data = get_data_from_mta('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190330.txt')

In [6]:
with open('mta_data_week.pickle', 'wb') as to_write:
    pickle.dump(mta_turnstile_data, to_write)

In [25]:
df_tech_stations = pd.DataFrame(stations, tech_list_binary)

In [30]:
df_tech_stations = df_tech_stations.reset_index()

In [33]:
df_tech_stations.columns = ['Tech_Station', 'Station']

AttributeError: 'list' object has no attribute 'head'

In [34]:
df_tech_stations.head()

   Tech_Station        Station
0             1           1 AV
1             0         103 ST
2             0  103 ST-CORONA
3             0         104 ST
4             0         110 ST

In [35]:
import pickle

In [37]:
with open ('tech_station.pickle', 'wb') as write_file:
    pickle.dump(df_tech_stations, write_file)